div {
  div {
    height: 150px;
    width: 50px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -25px;
    -webkit-transform-origin: center 240px;

    &:first-child {
        -webkit-transform: rotate(12deg);
    }
    &:nth-child(2) {
        -webkit-transform: rotate(24deg);
    }
    &:nth-child(3) {
        -webkit-transform: rotate(36deg);
    }
    &:nth-child(4) {
        -webkit-transform: rotate(48deg);
    }
    &:nth-child(5) {
        -webkit-transform: rotate(60deg);
    }
    &:nth-child(6) {
        -webkit-transform: rotate(72deg);
    }
    &:nth-child(7) {
        -webkit-transform: rotate(84deg);
    }
    &:nth-child(8) {
        -webkit-transform: rotate(96deg);
    }
    &:nth-child(9) {
        -webkit-transform: rotate(108deg);
    }
    &:nth-child(10) {
        -webkit-transform: rotate(120deg);
    }
    &:nth-child(11) {
        -webkit-transform: rotate(132deg);
    }
    &:nth-child(12) {
        -webkit-transform: rotate(144deg);
    }
    &:nth-child(13) {
        -webkit-transform: rotate(156deg);
    }
    &:nth-child(14) {
        -webkit-transform: rotate(168deg);
    }
    &:nth-child(15) {
        -webkit-transform: rotate(180deg);
    }

    &:nth-child(16) {
        -webkit-transform: rotate(192deg);
    }
    &:nth-child(17) {
        -webkit-transform: rotate(204deg);
    }
    &:nth-child(18) {
        -webkit-transform: rotate(216deg);
    }
    &:nth-child(19) {
        -webkit-transform: rotate(228deg);
    }
    &:nth-child(20) {
        -webkit-transform: rotate(240deg);
    }
    &:nth-child(21) {
        -webkit-transform: rotate(252deg);
    }
    &:nth-child(22) {
        -webkit-transform: rotate(264deg);
    }
    &:nth-child(23) {
        -webkit-transform: rotate(276deg);
    }
    &:nth-child(24) {
        -webkit-transform: rotate(288deg);
    }
    &:nth-child(25) {
        -webkit-transform: rotate(300deg);
    }
    &:nth-child(26) {
        -webkit-transform: rotate(312deg);
    }
    &:nth-child(27) {
        -webkit-transform: rotate(324deg);
    }
    &:nth-child(28) {
        -webkit-transform: rotate(336deg);
    }
    &:nth-child(29) {
        -webkit-transform: rotate(348deg);
    }
    &:nth-child(30) {
        -webkit-transform: rotate(360deg);
    }
  }
}