div div {
  height: 150px;
  width: 50px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -25px;
  -webkit-transform-origin: center 240px; }
  div div:first-child {
    -webkit-transform: rotate(12deg); }
  div div:nth-child(2) {
    -webkit-transform: rotate(24deg); }
  div div:nth-child(3) {
    -webkit-transform: rotate(36deg); }
  div div:nth-child(4) {
    -webkit-transform: rotate(48deg); }
  div div:nth-child(5) {
    -webkit-transform: rotate(60deg); }
  div div:nth-child(6) {
    -webkit-transform: rotate(72deg); }
  div div:nth-child(7) {
    -webkit-transform: rotate(84deg); }
  div div:nth-child(8) {
    -webkit-transform: rotate(96deg); }
  div div:nth-child(9) {
    -webkit-transform: rotate(108deg); }
  div div:nth-child(10) {
    -webkit-transform: rotate(120deg); }
  div div:nth-child(11) {
    -webkit-transform: rotate(132deg); }
  div div:nth-child(12) {
    -webkit-transform: rotate(144deg); }
  div div:nth-child(13) {
    -webkit-transform: rotate(156deg); }
  div div:nth-child(14) {
    -webkit-transform: rotate(168deg); }
  div div:nth-child(15) {
    -webkit-transform: rotate(180deg); }
  div div:nth-child(16) {
    -webkit-transform: rotate(192deg); }
  div div:nth-child(17) {
    -webkit-transform: rotate(204deg); }
  div div:nth-child(18) {
    -webkit-transform: rotate(216deg); }
  div div:nth-child(19) {
    -webkit-transform: rotate(228deg); }
  div div:nth-child(20) {
    -webkit-transform: rotate(240deg); }
  div div:nth-child(21) {
    -webkit-transform: rotate(252deg); }
  div div:nth-child(22) {
    -webkit-transform: rotate(264deg); }
  div div:nth-child(23) {
    -webkit-transform: rotate(276deg); }
  div div:nth-child(24) {
    -webkit-transform: rotate(288deg); }
  div div:nth-child(25) {
    -webkit-transform: rotate(300deg); }
  div div:nth-child(26) {
    -webkit-transform: rotate(312deg); }
  div div:nth-child(27) {
    -webkit-transform: rotate(324deg); }
  div div:nth-child(28) {
    -webkit-transform: rotate(336deg); }
  div div:nth-child(29) {
    -webkit-transform: rotate(348deg); }
  div div:nth-child(30) {
    -webkit-transform: rotate(360deg); }
